<div class="hidden-xs">

  <div class="modal-header">
    <h3 class="modal-title">{{loading.msg}}</h3>
  </div>

  <div class="modal-body">
    <div class="loading_top">
      <div class="loading_square">
        <div class="loading_square">
          <div class="loading_square">
            <div class="loading_square">
              <div class="loading_square"><div class="loading_square">
              </div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="loading_bottom">
      <div class="loading_square">
        <div class="loading_square">
          <div class="loading_square">
            <div class="loading_square">
              <div class="loading_square"><div class="loading_square">
              </div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="loading_left">
      <div class="loading_square">
        <div class="loading_square">
          <div class="loading_square">
            <div class="loading_square">
              <div class="loading_square"><div class="loading_square">
              </div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="loading_right">
      <div class="loading_square">
        <div class="loading_square">
          <div class="loading_square">
            <div class="loading_square">
              <div class="loading_square"><div class="loading_square">
              </div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--div class="modal-footer">
     <button class="btn btn-primary" ng-click="ok()">OK</button> 
     <button class="btn btn-warning" ng-click="cancel()">Cancel</button> 
  </div -->

</div>