<div ng-if="!user.web_admin" class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-6">
				<div class="alert alert-danger alert-dismissible" role="alert">
					<button type="button" class="close" ng-click="intro_type=''" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<span>
						You must be logged in as web admin to access this page.<br/>
						<a ui-sref="logging.user_login({redirect_page: 'logging.manageapprovals'})">Login</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-if="user.web_admin" class="row">
	<div class="col-md-12">
		<div class="row">
			<div ng-if="pending_users.length == 0" class="col-md-4">
				<h3>No pending users</h3>
			</div>
			<div ng-if="pending_users.length > 0" class="col-md-4">
				<h3>Pending users</h3>
				<table class="table table-striped">
					<tr>
						<th>
							Username
						</th>
						<th>
							e-mail
						</th>
						<th>
							Approve!
						</th>
					</tr>
					<tr ng-repeat="pu in pending_users">
						<td>
							{{pu.username}}
						</td>
						<td>
							{{pu.email}}
						</td>
						<td>
							<button ng-click="approve_user(pu.username)" class="btn btn-success">Approve</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>



