<div class="row">
 	<div class="col-md-4">

        <h2>Change password</h2>

 		<div ng-if="err_found" class="alert alert-danger">
 			<strong>Error!</strong> {{err_msg}}
 		</div>

 		<div class="form-group">
 			<label for="oldpasswordid">Old Password</label>
 			<input id="oldpasswordid" class="form-control"  type="password" value="" ng-model="pc_user['old_passwd']">
 		</div>

 		<div class="form-group">
 			<label for="passwordid">Password</label>
 			<input id="passwordid" class="form-control"  type="password" value="" ng-model="pc_user['passwd']">
 		</div>
 		<div class="form-group">
 			<label for="passwordconfirmid">Confirm password</label>
 			<input id="passwordconfirmid" class="form-control" type="password" value="" ng-model="pc_user['passwd_confirm']">
 			<span ng-if="pc_user['passwd'] != pc_user['passwd_confirm']">Passwords do not match!</span>
 		</div>
 		
 		<button ng-click="passwdchange_bare(pc_user)"  class="btn btn-success">Update password</button>

 	</div>
 </div>