<div class="row">
	<div class="col-md-4">

		<h2>User verify</h2>

		<div ng-if="err_found" class="alert alert-danger">
			<strong>Error!</strong> {{err_msg}}
		</div>

		<div ng-show="intro_type" class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" ng-click="intro_type=''" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<span ng-if="intro_type == 'verified'">
				Registration mail verified 
			</span>
		</div>

	</div>
</div>